@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-vazirmatn: var(--font-vazirmatn), ui-sans-serif, system-ui, sans-serif;
  --font-outfit: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
}
html {
  scroll-behavior: smooth;
}
